backgrounds/
backgrounds.zip
hard_negatives_final/
hard_negatives_output/
isaac_project/debug_output_C/
isaac_project/debug_output/
figures/


.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo

.directory
.vscode/
.DS_Store

*.usdz
*.zip
*.png
*.jpg
*.jpeg
*.webp
*.pth
*.pt
*.ckpt
